.addpost-component {
  justify-self: center;
  .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    width: 100px;
    border-radius: 25px;
    overflow: hidden;
    .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit {
      min-width: inherit;
      width: 100px;
      padding: 0;
    }

    svg {
      font-size: 2em;
    }
  }
}
