@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(90,223,240,1) 17%, rgba(255,255,255,1) 50%, rgba(90,223,240,1) 80%);
}

#root, .app {
  height: 100%;
}
