.app {
  display: grid;
  grid-template-columns: 30% 1fr 50%;
  grid-template-rows: 10% auto;
  grid-template-areas: 
  " . addpost tabs "
  " posts posts posts "
  ;
  margin: 1em 0;
  .addpost-component {
    grid-area: addpost;
  }
  .navtabs-component {
    grid-area: tabs;
  }
  .posts-component {
    grid-area: posts;
  }
  .logo-container {
    padding-top: 7px;
    justify-self: center;
  }
}
