.navtabs-component {
  .MuiPaper-root.makeStyles-root-1.MuiPaper-elevation1 {
    border-radius: 25px;
    overflow: hidden;
  }
  .PrivateTabIndicator-root-2.PrivateTabIndicator-colorPrimary-3.MuiTabs-indicator {
    background-color: inherit;
  }
  svg {
    font-size: 2em;
  }
}

